<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="/Students/GetAll" class="btn btn-success">Get All</a>
        <a href="/Students/Create" class="btn btn-success">Create</a>
        <a href="/Students/Update" class="btn btn-success">Update</a>
        <a href="/Students/Delete" class="btn btn-success">Delete</a>
    </nav>
    <main>
        <p>Update</p>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
